{% extends 'base.html' %}
{% load markdownify %}
{% comment %} loading the module name of resizer.py {% endcomment %}
{% load resizer %}


{% block content %}
  <main class="recipe-detail">
    {% comment %} Create link to Edit Recipe {% endcomment %}
    <div>
      <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
      <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
    </div>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ recipe.name }}</h1>
    <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ recipe.created }} |
      Updated on {{ recipe.updated }}
    </p>

    {% comment %} Servings {% endcomment %}
    {% if recipe.servings %}
      <p>
        Serves: {{ servings|default_if_none:recipe.servings }}
      </p>
      
      <form method="GET">
        <input required type="number" name="servings">
        <button>Resize</button>
      </form>

    {% endif %}

    {% comment %} Add the RatingForm so it shows up on the page {% endcomment %}
    <form method="post" action="{% url 'recipe_rating' recipe.id %}">
      {% csrf_token %}
      {{ rating_form.as_p }}
      <button class="button">Rate</button>
    </form>

    {% comment %} changed tag.word to tag.name {% endcomment %}
    <p>Tags: {% for tag in recipe.tags.all %} {{ tag.name }} {% endfor %}</p>
    <h2>Description</h2>
    {% comment %} remove paragraph tags and add "| markdownify" 
    to recipe.description {% endcomment %}
    {{ recipe.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient|resize_to:servings }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
            
            {% comment %} ShoppingItems custom HTML form {% endcomment %}
            <td>
              {% if ingredient.food not in food_in_shopping_list %}
                {% comment %} form method is POST because we're creating
                something (we use POST when creating, updating, or deleting something) 
                {% endcomment %}
                <form method="POST" action="{% url 'shopping_item_create' %}">
                  {% csrf_token %}
                  <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                  <button>+ My Shopping List</button>
                </form>
              {% else %}
                In your Shopping List
              {% endif %}
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}